.main {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0 35px;
}

.createContent {
  display: flex;
  gap: 24px;
}

@media (max-width: 768px) {
  .main {
    max-height: initial;
  }

  .content {
    padding: 0 16px;
  }

  .createContent {
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    margin-bottom: 16px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 0 8px;
    gap: 12px;
    margin-bottom: 8px;
  }
}

@media (max-height: 860px) {
  .main {
    max-height: initial;
    overflow-y: auto;
  }
}
