.analysisId {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 0; /* Важно для корректной работы flex-контейнера */
  margin: 0 auto; /* Центрирование контейнера */
}

.head {
  text-align: center;
}
